
.paginate{
	display: inline-block;
	list-style-type: none;
	vertical-align: middle;
	text-align: center;
	margin: 0;
	padding: 0;
	& li{
		display:inline-block;
		padding: 10px;
		margin:5px;
		& a{
			font-size: 18px;
			color: @ltGrey;
			&:hover, &.active{
				color:@ltGreen;
			}
		}
		&:first-child{
			margin-right: 15px;
		}
		&:last-child{
			margin-left: 15px;		
		}
	}
}

