.topTourse {
	h2 {
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 1.5em;
	}

	.tour {
		position: relative;
		border-radius: 3px;
		box-shadow: 0px 0px 3px rgba(0,0,0,.5);
		padding: 0;
		margin-bottom: 20px;
		height: 400px;
		overflow: hidden;

		img {
			width:100%;
			position: absolute;


		}

		

		.textZone {
			background: @ltLightGrey;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			padding: 10px 20px;
			color: @ltDarkGrey;
			a {
				h4 {
					color: @ltGreen;
					margin-top: 0;
				}
			}

			div {
				p {
					margin: 0;
					color:@ltDarkGrey;
				}
			}

			ul {
  				//margin-left: 12px;
				border-left: 1px solid @ltGrey;
				padding: 0;
				overflow: hidden;
				span {
					width: 60px;
					float: left;
					word-spacing: 20px;
					margin-left: 10px;
					color: @ltDarkGrey;
				}

				li {
					list-style: none;
					display: block;
					float: left;
					margin-left: 5px;

					div {
						margin-top: 9px;
					}
				}

			}

			ul + a {
				margin-top: -5px;
			}
		}

		

		div.labelT {
			box-shadow: 3px 0 3px rgba(0,0,0,.5);
			position: absolute;
			top: 0;
			right: 50px;
			background: #FEE249;
			text-align: center;
			padding: 10px;

			span {
				display: block;
				font-weight: bold;
			}

			&:after {
				content: "";
				height: 0;
				border: 25px solid transparent;
				border-top: 8px solid #FEE249;
				
				position: absolute;
				top: 60px;
				right: 1px;
			}

			&.red {
				background: #B72222;
				color: white;

				&:after {
					
					border: 27px solid transparent;
					border-top: 8px solid  #B72222;
				}
			}
		}
	}
}