footer {

	margin-top: 30px;
	
	.feedback {
		background-color: @ltDarkGrey;
		padding: 30px 0;
		nav{
			ul {
			padding: 0;
			margin: 0;
			}
			li {
				list-style: none;
				display: inline-block;
				line-height: 50px;
				padding:0 10px;
				a {
					color: white;
					display: block;
					&:hover {
						color:@ltGreen;
						text-decoration: underline;
					}
				}
			}
		}
		form {
			input[type="text"], input[type="email"] {
				width: 100%;
				border-radius: 50px;
				border:none;
				height: 50px;
				outline: none;
				padding: 10px 200px 10px 10px;
			}
			button[type="submit"] {
				position: absolute;
				top: 5px;
				right: 20px;
				padding-left: 40px;
				padding-right: 12px;
				border-radius: 50px;
				border:none;
				height: 40px;
				background-color: @ltGreen;
				color: white;
				outline: none;
				&:hover {
					background-color: @ltLightGreen;
				}
			}
			span {
				position: absolute;
				top: 13px;
  				left: 15px;
  				font-size: 17px;
				color: white;
			}
			margin-bottom: 20px;
		}

		div.last {
			div {
				display: inline-block;
				vertical-align: bottom;
				margin-left: 10px;
			}
		}
		div.last {
			img {
				width: 45%;
				display:inline-block;
				margin:2%;
				vertical-align: bottom;
				text-align: center;
			}
		}
	}

	.foot {
		background-color: #212121;
		padding: 20px 0 0;

		address {
			color: #6E6E6E;
			margin-bottom: 0;
			a {
				color: @ltGreen;
			}
		}
		div.second {
			p{
				color: #6E6E6E;
				width: 135px;
				text-align: right;
				float: left;

			}

			a {
				float: left;
				margin-left: 4px;
			}
		}
	div.last {
		p {
				width: 140px;
				float: left;
			}

		a {
			float: left;
		}
	}
			
		
	}

}