.breadcrumbs {
	background-color: @ltGreen;
	padding: 15px 0;

	* {
		color: @ltLightGreen;
		font-size: 14px;
	}

	span {
		color: white;
	}

	a {
		text-decoration: none;

		&:after {
			content: " > ";
			color: @ltLightGreen;
			margin: 7px;
		}

		&:hover {
			color: white;
		}
	}


}