.newsList {
	color: @ltDarkGrey;
	h3 {
		text-transform: uppercase;
		color: @ltDarkGrey;
		text-align: center;
		margin-bottom: 30px;
	}
	.container {
		& a:hover {
			text-decoration: underline;
		}
		& a {
			color: @ltGreen;
			clear: both;
			overflow: hidden;
		}
		& > a{
			margin-top: 20px;	
		}
		@media screen and (max-width: 980px) {
			text-align: center;
		}
	}
}