
@ltGreen : #1D893B;
@ltLightGreen :#5BDE80;
@ltLightGrey : #F5F5F5;

.right {
	float:right;
}
h1 {
  font-size: 30px;
  color: #1d893b;
}
body,html {
	padding: 0;
	margin: 0;
	height: 100%;
	h2,h3 {
		font-weight: bold;
		font-size: 1.5em;
	}

}
label{
	font-weight: normal;
}
.modal-dialog{
	z-index: 2000;
	label{
		display:block;
	}
	input{
		display:block;
		width: 100%;
		height:40px;
		padding:0 5px;
		box-sizing: border-box;
	}
	textarea{
		padding:5px;
		box-sizing: border-box;	
		width:100%;
		height:150px;
	}
}
a, button {
	outline: none;
	& {
		text-decoration: none;
	}

	&:hover, &:visited {
		text-decoration: none;
	}

	&.borded {
		display: inline-block;
		transition: all .3s;
		width: auto;
		padding: 10px 20px;
		border-radius: 50px;
		border: 2px solid white;
		margin: 5px;
		color: white;
		font-weight: bold;
		background: rgba(255,255,255,.15);

		&:hover {
			background:white;
			color:@ltGreen;
			border-color:@ltGreen;
			
		}

		&.revers {
			background:@ltGreen;
			color:white;
			border-color: white;
			&:hover{
				border-color: @ltGreen;
				color: @ltGreen;
				background: rgba(255,255,255,.15);
			}
		}
	}

}

.grayscale { 
	transition: all .3s;
  -webkit-filter: grayscale(100%);
  // -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  // -o-filter: grayscale(100%);
  filter: grayscale(100%);
  // filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
  *filter: gray; /* IE 6-9 */

  &:hover {
  	-webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);

  }

  &.noColor:hover {
  	transition: all .3s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
  filter: gray; 
  }
}

.redTour {

	.container
	{
		.container {
			width: 100%;
		}
	}

	

}