.text-block{
	margin-bottom: 40px;
	h2 {
		color: @ltGreen;
		font-size: 20px;
	}
}
.portfolio{
	margin-top: 20px;
	h1{
		color: @ltGreen;
		font-size: 24px;
	}
}
.photo-list{
	margin-top: 20px;
}
.folio-img{
	overflow:hidden;
	border-radius: 3px;
	width:100%;
	display:block;
	margin-bottom: 20px;
	position: relative;
	img{
		width:100%;
	}
	.view{
		width:100%;
		height:100%;
		position:absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		opacity:0;
		visibility: hidden;
		background-color: rgba(0,0,0,0.4);
		background-image: url(../../images/zoom.png);
		background-repeat: no-repeat;
		background-position: center center;
	}
	&:hover{
		.view{		
			opacity:1;
			visibility:visible;		
		}
	}

}
.event-filter{
	h3{
		font-size: 20px;
		font-weight: normal;
	}
	ul{
		list-style-type: none;
		padding-left: 10px;
		li {
			a{
				display: block;
				line-height: 30px;
				padding: 0px 10px;
				color:black;
				&.active{
					color: @ltGreen;
					background: #f1f1f1;
				}
				&:hover{
					background: #f1f1f1;
				}
			}
		}
	}
}
.item-folio{
	
	margin-bottom: 20px;
	> div {
		overflow:hidden;
		border-radius: 3px;
		box-shadow: 0px 0px 3px rgba(0,0,0,.5);
		text-align: left;
		background: #f5f5f5;
		width:100%;
		.img{
			display: block;
			width: 100%;
			overflow: hidden;
			margin-bottom: 0px;
			&:hover{
				opacity: 0.6;
			}
			img{
				width:100%;
			}
		}
		.caption{
			padding:15px;
			a{
				color: @ltGreen;
				display:block;
				min-height: 82px;
				max-height: 82px;
				height:82px;
				h3{
					margin-top: 0px;
					font-size: 16px;
					line-height: 18px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
			p{
				&.date{
					color:#787878;
					font-size: 12px;
					margin-bottom: 0;
				}
			}
		}
	}
}