.newsPage {
	


	padding-top: 30px;
	h4 {
		font-weight: bold;
	}
	img {
		width: 33.3333%;
		float: left;
		padding-right: 15px;
	}

	.rightSide {
		float: left;
		

	}

	.rarr {
		text-align: right;
		display: block;
		clear: both;
		color: @ltGreen;
	}
}