<?php get_header(); ?>

<div class="wrapper redTour product">
<div class="breadcrumbs">
	<div class="container">
		<a href="#">Главная</a>
		<a href="">Не очень главная</a>
		<a href="">Совсем не главная</a>
		<a href="">Антиглавная</a>
		<span>Tекущая</span>

	</div>
</div>
	<div class="container">
		<div class="col-md-9">
			<div class="newsPage">
			<?php if (have_posts()) : ?>
  			<?php while (have_posts()) : the_post(); ?>
				<div class="col-md-12">
					
						<img  src="<?php echo esc_url( get_stylesheet_directory_uri() ); ?>/images/content/news1.png">					
					
						<h4><?php the_title(); ?></h4>
						<p class="light"><?php the_date(); ?></p>
						<p><?php the_excerpt(); ?></p>						

						<a href="<?php the_permalink(); ?>" class="rarr">Показать полностью &rarr;</a>
						
					
				</div>

				
			</div>

			<div class="container">
				<div class="col-md-12 text-center">
					<?php if(function_exists('wp_pagenavi')) { wp_pagenavi(); } ?>
				</div>
			</div>

		</div>
		
<?php get_sidebar(); ?>

	</div>
</div>

<?php get_footer(); ?>