<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../styles/dist/bootstrap.min.css">	
	<!-- <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/js/bootstrap.min.js"> -->
	<link rel="stylesheet" type="text/css" href="../styles/dist/sprites.css">
	<link rel="stylesheet" type="text/css" href="../styles/dist/lightbox.css">
	<link rel="stylesheet" type="text/css" href="../styles/dist/result.css">
	<script type="text/javascript" src="../js/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../js/dist/bootstrap.min.js"></script>
	
</head>
<body>
<header>
<nav class="navbar">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" id="logo" class="icon-logo"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Кто мы</a></li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Наши услуги <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ><a href="#">MICE</a></li>
					<li><a href="#">Корпоративное обслуживание</a></li>
					<li><a href="#">On-line сервис 24 часа</a></li>
					<li><a href="#">Авиабилеты</a></li>
					<li><a href="#">VIP обслуживание в аэропортах</a></li>
					<li><a href="#">Прием иностранных граждан</a></li>
					<li><a href="#">VIP обслуживание в аэропортах</a></li>
					<li><a href="#">Отели</a></li>
					<li><a href="#">Визы</a></li>
					<li><a href="#">Загранпаспорта</a></li>
					<li><a href="#">Ж/д билеты</a></li>
					<li><a href="#">Билеты на автобус</a></li>
					<li><a href="#">Аренда автомобилей</a></li>
					<li><a href="#">Трансферы</a></li>
					<li><a href="#">Страхование</a></li>
					<li><a href="#">Travel Sim</a></li>
				</ul>
				</li>
				<li ><a href="#">Отзывы</a></li>
				<li ><a href="#">Портфолио</a></li>
				<li ><a href="#">Контакты</a></li>
			</ul>
			<p class="navbar-text navbar-right">+380 94 251 88 88</p>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
</header>
<div class="wrapper redTour " ng-app="searchTour">
<div class="breadcrumbs">
	<div class="container">
		<a href="#">Главная</a>
		<a href="">Не очень главная</a>
		<a href="">Совсем не главная</a>
		<a href="">Антиглавная</a>
		<span>Tекущая</span>

	</div>
</div>
	<div class="container" ng-controller="tourController">
		<div class="col-md-3 sidebar left-sidebar">
			<div class="chooseTour" ng-init="updateInterface()">
				<h4>Подбор тура</h4>

				

				<form id="typeFil" name="typeFil"  action="">
					
				<p>Тип поездки:</p>
			    <!-- Type filter -->
				<ul class="type">
					<li ng-repeat="filterType in filterData.type" ng-class="filterType.model">
						<label><input type="checkbox" ng-checked="filterType.model" ng-true-value="'active'" ng-click="includeTour(filterType.type, false)" value="{{filterType.type}}" ng-model="filterType.model">
						<i class="icon icon-{{filterType.type}}"></i>{{filterType.rus}}</label>
					</li>
				</ul>
				<!-- Country filter -->
				<p>Страна:</p>
				<ul class="land">
					<li ng-repeat="filterCountry in filterData.country">
						<label>
							<input value="{{filterCountry.type}}" class="{{filterCountry.type}}" type="checkbox" value="1" ng-model="filterCountry.model" ng-checked="filterCountry.model" ng-click="includeTour(false, filterCountry.type)"><i></i><span>{{filterCountry.rus}}</span>
						</label>
					</li>
				</ul>

				<p>Срок</p>
				<div>
				 <input	type="number" ng-change="refreshLocation()" min="1" step="1" class="day" ng-model="days" value="{{days}}"placeholder="дней">
				 <span> - </span>
				 <input	type="number" min="0" class="night" placeholder="ночей" value="{{days - 1 < 0 ? '' : days - 1}}" disabled="disabled">
				</div>
				 <!-- <input type="submit" class="borded revers" value="Подобрать туры"> -->
				 <input type="reset" ng-click="clearForm()" value="Очистить фильтр">


				</form>
			</div>
			<a href="#"><img src="../images/content/banner.png"></a>
			<section class="onlineService">
				<!-- <div class="container"> -->
					<h2>Онлайн сервисы</h2>
					<ul class="container">
						<li class="col-sm-12 col-xs-12 col-md-1">
							<a href="#">
								<div class="icon icon-o1"></div>
								<span>Авиабилеты</span>
							</a>
						</li>
						<li class="col-sm-12 col-xs-12 col-md-1">
							<a href="#">
								<div class="icon icon-o2"></div>
								<span>Ж/Д билеты</span>
							</a>
						</li>
						<li class="col-sm-12 col-xs-12 col-md-1">
							<a href="#">
								<div class="icon icon-o3"></div>
								<span>Автобусные билеты</span>
							</a>
						</li>
						<li class="col-sm-12 col-xs-12 col-md-1">
							<a href="#">
								<div class="icon icon-o4"></div>
								<span>Бронирование отеля</span>
							</a>
						</li>
						<li class="col-sm-12 col-xs-12 col-md-1">
							<a href="#">
								<div class="icon icon-o5"></div>
								<span>Поиск туров</span>
							</a>
						</li>
						<li class="col-sm-12 col-xs-12 col-md-1">
							<a href="#">
								<div class="icon icon-o6"></div>
								<span>Прокат авто</span>
							</a>
						</li>
						<li class="col-sm-12 col-xs-12 col-md-1">
							<a href="#">
								<div class="icon icon-o7"></div>
								<span>Страхование</span>
							</a>
						</li>
					</ul>
				<!-- </div> -->
			</section>
		</div>
		<div class="col-md-9">
			<div class="container">
				<div class="col-md-12">
					<h2>Интенсив туры</h2>	
					<p>Инсентив-туры – отличная возможность отблагодарить лучших сотрудников за прекрасную работу в течение года. Поездка за границу или туры по своей стране позволят отдохнуть, а также узнать историю и культуру других стран и регионов. Традиция поощрять отличных работников компании интересными турами давно и успешно используется за границей. Многие современные компании практикуют такой вариант поощрения сотрудников к дальнейшим успехам.</p>

					<p>Благодарный сотрудник – это сотрудник, который работает с полной отдачей, поскольку прекрасно знает, что его умения и знания будут оценены по достоинству. Инсентив-поездка будет идеальным вариантом подарка!</p>
				</div>
			</div>
			<div class="tourList container">
				<div class="col-md-4 col-sm-6" ng-repeat="tour in data | limitTo: pageSize">  
					<div class="tour">
						<img ng-src="{{tour.img}}" style="max-height:234px; min-height:234px;">
						<a ng-href="tour/{{tour.tourId}}">{{tour.name}}</a>
						<div>
							<p>{{tour.days}} дня / {{tour.night}} ночи</p>
							<p>{{tour.place}}</p>
						</div>
						<div>
							<span>Тип поездки:</span>
							<ul>
								<li ng-repeat="type in tour.type">
									<div class="icon-{{type}}"></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
					<button ng-click="showMore()" ng-hide="pageSize == filterData.total" class="borded revers">Показать еще</button>
				</div>
			</div>

			<!-- include "pagination.html" -->
		</div>
	</div>
</div>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../js/tourSearch/app.js"></script>

<footer>
	<div class="feedback">
		<div class="container">		
			<nav class="col-md-4 first">
				<ul>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Агенствам</a></li>
					<li><a href="#">Документы</a></li>
				</ul>
			</nav>
			<form class="col-md-5 second">
				<input type="text" placeholder="Ваш e-mail">
				<button type="submit"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Подписаться</button>
				<!-- <input type="submit" value="Подписаться"> -->
				
				
			</form>
			<div class="col-md-3 last">
				<img src="../images/content/bta.png">
				<img src="../images/content/ita.png">
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="container ">
			<address class="col-md-6 first">
				<p>
					Lumiere Travel Club © 2012 
				</p>
				<p>
					ул. Б.Васильковская, 84/20, тел.: 044 251 88 88, <a href="mailto:info@ltclub-dmc.com">info@ltclub-dmc.com</a> 
				</p>
			</address>

			<div class="col-md-3 second">
				<p>
					Следите за нашими событиями:
				</p>
				<a href="#"><div class="icon-vk grayscale"></div></a>
				<a href="#"><div class="icon-vk grayscale"></div></a>
				<a href="#"><div class="icon-vk grayscale"></div></a>
			</div>

			<div class="col-md-3 last">
				<p>
					Разработка сайта и продвижение:
				</p>
				<a href="http://gns-it.com/"><div class="icon-gns"></div></a>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript" src="../js/dist/lightbox.min.js"></script>
</body>
</html>