.recomendation {
	background: @ltLightGrey;
		box-shadow: inset 0 0 5px rgba(0,0,0,.5);
		padding: 10px 0 30px;	
		overflow: hidden;

	.container {	

		div {
			margin-top: 20px;
			position: relative;

			height: 90px;
		}

		img	{
			/*width: 100%;*/
			position: absolute;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		h3 {
			text-align: center;
			text-transform: uppercase;
			margin: 20px 0;
		}

		a {
			width: 100%;
			height: 43px;
			margin-top: 20px;
			border: 2px solid grey;
    		background-color: @ltLightGrey;
    		color: grey;
		}
		
	}
}