.wr-footer-down {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -240px 0; /* отрицательный нижний отступ на высоту футера */
    padding: 0;
}
.footer-push, .footer-down {
    height: 240px;
    margin: 0;
    padding: 0;
}