include "head.html"
include "header.html"

<script type="text/javascript">
// 1
function One()
{
  // Табы
  document.getElementById('OneTab').className = 'SelectedTab';
  document.getElementById('TwoTab').className = 'Tab';
  document.getElementById('ThreeTab').className = 'Tab';
 
  // Страницы
  document.getElementById('One').style.display = 'block';
  document.getElementById('OneTab').className = 'SelectedTab';
  document.getElementById('Two').style.display = 'none';
  document.getElementById('Three').style.display = 'none';
 
}
// 2
function Two()
{
  // Табы
  document.getElementById('OneTab').className = 'Tab';
  document.getElementById('TwoTab').className = 'SelectedTab';
  document.getElementById('ThreeTab').className = 'Tab';
 
  // Страницы
  document.getElementById('One').style.display = 'none';
  document.getElementById('Two').style.display = 'block';
  document.getElementById('Three').style.display = 'none';
 
}
// 3
function Three()
{
  // Табы
  document.getElementById('OneTab').className = 'Tab';
  document.getElementById('TwoTab').className = 'Tab';
  document.getElementById('ThreeTab').className = 'SelectedTab';
 
  // Страницы
  document.getElementById('One').style.display = 'none';
  document.getElementById('Two').style.display = 'none';
  document.getElementById('Three').style.display = 'block';
 
}
</script>

<div class="wrapper redTour " ng-app="searchTour">
include "breadcrumbs.html"
	<div class="container" ng-controller="tourController">
		<div class="col-md-3 sidebar left-sidebar">
			include "onlineServises.html"
						include "banner.html"

		</div>
		<div class="col-md-9 airtickets-form">
			
				<h1>Авиабилеты</h1>

				<p>Каждый человек ждет от отдыха ощущение релакса и комфорта. Однако, совместив отдых и работу в неформальной обстановке, решение бизнес вопрос будет куда более эффективнее. Корпоративный туризм - это не только совмещение трудовой деятельности, но и укрепление командного духа сотрудников.
				</p>


					
					 
					<!-- Содержимое вкладок -->
					<div id="Content">
						<!-- Первая -->
						
						<ul id="Tabs">
						<li id="OneTab" class="SelectedTab"><a href="#One" onclick="One(); return false;">ТУДА И ОБРАТНО</a></li>
						<li id="ThreeTab" class="Tab"><a href="#Three" onclick="Three(); return false;">В ОДИН КОНЕЦ</a></li>
						<li id="TwoTab" class="Tab"><a href="#Two" onclick="Two(); return false;">НЕСКОЛЬКО ОСТАНОВОК</a></li>
					</ul>

						<div id="One">
							
							<div class="tt-panel">
							<form>
								<div class="col-md-12 container">
									<div class="col-md-6">
										
										<div class="col-md-12">
											<label>Откуда</label>
											<input type="text" name="placeFrom">
										</div>
										
										<div class="col-md-12">
											<label>Дата вылета</label>
											<input type="text" name="dateFlyAway">
										</div>
										
										<div class="col-md-12">
											<label>Тип тарифа</label>
											<select>
												<option>Пункт 1</option>
												<option>Пункт 2</option>
											</select>
										</div>

									</div>
									<div class="col-md-6 right">
										
										<div class="col-md-12">
											<label>Куда</label>								
											<input type="text" name="placeTo">
										</div>

										<div class="col-md-12">
											<label>Тип тарифа</label>								
											<input type="list" name="tariffType"> 
										</div>
					
										<div class="col-md-12">
											<div class="col-md-4 age">
												<label>Взрослые</label>									
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
											<div class="col-md-4 age">
												<label>Дети 2-12</label>									
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
											<div class="col-md-4 age">
												<label>Дети 0-2</label>
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<button type="button">Начать поиск</button>
								
							</form>
				        </div>

						</div>
					 
						<div id="Two" style="display: none;">
							<div class="tt-panel">
							<form>
								<div class="col-md-12 container">
									<div class="col-md-6">
										
										<div class="col-md-12">
											<label>Откуда</label>
											<input type="text" name="placeFrom">
										</div>
										
										<div class="col-md-12">
											<label>Дата вылета</label>
											<input type="text" name="dateFlyAway">
										</div>
										
										<div class="col-md-12">
											<label>Тип тарифа</label>
											<select>
												<option>Пункт 1</option>
												<option>Пункт 2</option>
											</select>
										</div>

									</div>
									<div class="col-md-6 right">
										
										<div class="col-md-12">
											<label>Куда</label>								
											<input type="text" name="placeTo">
										</div>

										<div class="col-md-12">
											<label>Тип тарифа</label>								
											<input type="list" name="tariffType"> 
										</div>
					
										<div class="col-md-12">
											<div class="col-md-4 age">
												<label>Взрослые</label>									
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
											<div class="col-md-4 age">
												<label>Дети 2-12</label>									
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
											<div class="col-md-4 age">
												<label>Дети 0-2</label>
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<button type="button">Начать поиск</button>
								
							</form>
				        </div>
						</div>

						<div id="Three" style="display: none;">
							<div class="tt-panel">
							<form>
								<div class="col-md-12 container">
									<div class="col-md-6">
										
										<div class="col-md-12">
											<label>Откуда</label>
											<input type="text" name="placeFrom">
										</div>
										
										<div class="col-md-12">
											<label>Дата вылета</label>
											<input type="text" name="dateFlyAway">
										</div>
										
										<div class="col-md-12">
											<label>Тип тарифа</label>
											<select>
												<option>Пункт 1</option>
												<option>Пункт 2</option>
											</select>
										</div>

									</div>
									<div class="col-md-6 right">
										
										<div class="col-md-12">
											<label>Куда</label>								
											<input type="text" name="placeTo">
										</div>

										<div class="col-md-12">
											<label>Тип тарифа</label>								
											<input type="list" name="tariffType"> 
										</div>
					
										<div class="col-md-12">
											<div class="col-md-4 age">
												<label>Взрослые</label>									
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
											<div class="col-md-4 age">
												<label>Дети 2-12</label>									
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
											<div class="col-md-4 age">
												<label>Дети 0-2</label>
												<select>
													<option>Item 1</option>
													<option>Item 2</option>
													<option>Item 3</option>
												</select>
											</div>
										</div>

									</div>
								</div>

								<button type="button">Начать поиск</button>
								
							</form>
				        </div>
						</div>

					</div>

				</div>
		</div>

	</div>
</div>

include "footer.html"