include "head.html"
include "header.html"
<div class="wrapper redTour news">
include "breadcrumbs.html"
	<div class="container">
		<div class="col-md-7">
			<div class="container contacts">
				<div class="col-md-12">
					<h1>Контакты</h1>
				</div>
				<div class="col-md-4">
					<p><i class="icon icon-adreess"></i>ул. Б.Васильковская, 84/20</p>
					<a href="mailto:#"><i class="icon icon-email"></i>info@ltclub-dmc.com.ua</a>
				</div>
				<div class="col-md-4">
					<p><i class="icon icon-phonenum"></i>+38 044 251 88 88</p>
					<p><i class="icon icon-phonenum"></i>+38 097 251 81 81</p>
				</div>
				<div class="col-md-4">
					<p><i class="icon icon-skype"></i>lumiere_dmc</p>
					<p><i class="icon icon-viber"></i>+38 095 354 82 37</p>
				</div>
				<div class="col-md-12">
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20325.15034085018!2d30.446182049999997!3d50.44773525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1437567080596" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5 sidebar right-sidebar">		
			<div class="contact-form">
				<h2>Форма обратной связи</h2>
				<form action="#" method="#">
					<label for="name">Ваше имя:</label>
					<input type="text" value="" name="name">
					<label for="email">Ваш e-mail:</label>
					<input type="email" value="" name="email">
					<label for="message">Ваше сообщение:</label>
					<textarea name="message"></textarea>
					<input type="submit" value="Отправить">
				</form>
			</div>
		</div>
	</div>
</div>
include "footer.html"