include "head.html"
include "header.html"
include "breadcrumbs.html"
<div class="wrapper feedback">
	<div class="container">
		<div class="col-md-9">
			<h1>Отзывы клиентов</h1>
			<div class="feed row">
				<div class="col-md-3 text-center">
					<img class="img-responsive img-circle" src="../images/content/der.png">
					<p><strong>Галина Наумова</strong></p>
					<p class="small">гениральный директор компании «Samsung»</p>
				</div>
				<div class="col-md-9 text-feed">
					<p><i>      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</i></p>
				</div>
			</div>
			<div class="feed row">
				<div class="col-md-3 text-center">
					<img class="img-responsive img-circle" src="../images/content/der.png">
					<p><strong>Галина Наумова</strong></p>
					<p class="small">гениральный директор компании «Samsung»</p>
				</div>
				<div class="col-md-9 text-feed">
					<p><i>      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</i></p>
				</div>
			</div>
			<div class="feed row">
				<div class="col-md-3 text-center">
					<img class="img-responsive img-circle" src="../images/content/der.png">
					<p><strong>Галина Наумова</strong></p>
					<p class="small">гениральный директор компании «Samsung»</p>
				</div>
				<div class="col-md-9 text-feed">
					<p><i>      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</i></p>
				</div>
			</div>
			<div class="feed row">
				<div class="col-md-3 text-center">
					<img class="img-responsive img-circle" src="../images/content/der.png">
					<p><strong>Галина Наумова</strong></p>
					<p class="small">гениральный директор компании «Samsung»</p>
				</div>
				<div class="col-md-9 text-feed">
					<p><i>      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</i></p>
				</div>
			</div>
			<div class="feed row">
				<div class="col-md-3 text-center">
					<img class="img-responsive img-circle" src="../images/content/der.png">
					<p><strong>Галина Наумова</strong></p>
					<p class="small">гениральный директор компании «Samsung»</p>
				</div>
				<div class="col-md-9 text-feed">
					<p><i>      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</i></p>
				</div>
			</div>
			<div class="feed row">
				<div class="col-md-3 text-center">
					<img class="img-responsive img-circle" src="../images/content/der.png">
					<p><strong>Галина Наумова</strong></p>
					<p class="small">гениральный директор компании «Samsung»</p>
				</div>
				<div class="col-md-9 text-feed">
					<p><i>      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</i></p>
				</div>
			</div>
			include "pagination.html"
		</div>
		<div class="col-md-3 sidebar right-sidebar">		
			include "onlineServises.html"
			include "banner.html"
		</div>
	</div>
</div>
include "footer.html"