include "head.html"
include "header.html"
<div class="wrapper redTour product">
include "breadcrumbs.html"
	<div class="container">
		<div class="col-md-9">
			include "oneNewsPage.html"				
			
		</div>
		<div class="col-md-3 sidebar right-sidebar">		
			include "onlineServises.html"
			include "banner.html"
		</div>
	</div>
</div>
include "footer.html"