include "head.html"

include "header.html"

<div class="wrapper">
	include "breadcrumbs.html"
	<div class="container portfolio">
		<div class="row">
			<div class="col-md-12">
				<h1>5-летие компании TICKETS.UA </h1>
				<p>    Сервис Tickets ua 5 лет дарит возможность легко, комфортно и выгодно путешествовать по всему миру! </p>

			    <p>Этот юбилей, с одной стороны уже большой путь и, в тоже время это только первый шаг к будущим свершениям. Главной идеей праздника, стала тематика новых технологий и космических путешествий. Эту идею подчеркивала футуристическая атмосфера самой локации, ее оформление и все наполнения вечера. </p>

			    <p>Все в этот день подчеркивало одну из важных ценностей компании - желание не стоять на месте и продолжать свое развитие, а так же важную составляющую в работе компании, инструмент работы самого сервиса - современные технологии. </p>
		    </div>
		</div>
		<div class="row photo-list">
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="folio-img">
					<img src="../images/content/tour23.png" alt="caption">
					<a href="../images/content/tour23.png" data-lightbox="image-1" data-title="My caption" class="view"></a>
				</div>
			</div>
			
		</div>
    </div>
 </div>

include "footer.html"

