include "head.html"
include "header.html"
<div class="wrapper redTour " ng-app="searchTour">
include "breadcrumbs.html"
	<div class="container" ng-controller="tourController">
		<div class="col-md-3 sidebar left-sidebar">
			<div class="text-block">
				<h2>Наше портфолио</h2>
				<p>Здесь предоставленны фотографии с организованых нами туров и мероприятий Здесь предоставленны фотографии с организованых нами туров и мероприятий</p>
			</div>
			<div class="event-filter">
				<h3>Формат мероприятий:</h3>
				<ul>
					<li><a href="#">Все мероприятия</a></li>
					<li><a href="#">Инсентив туры</a></li>
					<li><a href="#">Семиранры/конференции</a></li>
					<li><a href="#">Корпоративы</a></li>
					<li><a href="#">Юбилеи</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<div class="container portfolio">
				<div class="col-md-4 item-folio">
					<div>
						<a href="#" class="img">
							<img src="../images/content/tour23.png" alt="caption">
						</a>
						<div class="caption">
							<a href="#"><h3>Новогоднее мероприятие для сотрудников компании «Бреннтаг Украина»</h3></a>
							<p class="date">Декабрь 2014, г. Киев</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 item-folio">
					<div>
						<a href="#" class="img">
							<img src="../images/content/tour23.png" alt="caption">
						</a>
						<div class="caption">
							<a href="#"><h3>Новогоднее мероприятие для сотрудников компании «Бреннтаг Украина»</h3></a>
							<p class="date">Декабрь 2014, г. Киев</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 item-folio">
					<div>
						<a href="#" class="img">
							<img src="../images/content/tour23.png" alt="caption">
						</a>
						<div class="caption">
							<a href="#"><h3>Новогоднее мероприятие для сотрудников компании «Бреннтаг Украина»</h3></a>
							<p class="date">Декабрь 2014, г. Киев</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 item-folio">
					<div>
						<a href="#" class="img">
							<img src="../images/content/tour23.png" alt="caption">
						</a>
						<div class="caption">
							<a href="#"><h3>Новогоднее мероприятие для сотрудников компании «Бреннтаг Украина»</h3></a>
							<p class="date">Декабрь 2014, г. Киев</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 item-folio">
					<div>
						<a href="#" class="img">
							<img src="../images/content/tour23.png" alt="caption">
						</a>
						<div class="caption">
							<a href="#"><h3>Новогоднее мероприятие для сотрудников компании «Бреннтаг Украина»</h3></a>
							<p class="date">Декабрь 2014, г. Киев</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 item-folio">
					<div>
						<a href="#" class="img">
							<img src="../images/content/tour23.png" alt="caption">
						</a>
						<div class="caption">
							<a href="#"><h3>Новогоднее мероприятие для сотрудников компании «Бреннтаг Украина»</h3></a>
							<p class="date">Декабрь 2014, г. Киев</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 item-folio">
					<div>
						<a href="#" class="img">
							<img src="../images/content/tour23.png" alt="caption">
						</a>
						<div class="caption">
							<a href="#"><h3>Новогоднее мероприятие для сотрудников компании «Бреннтаг Украина»</h3></a>
							<p class="date">Декабрь 2014, г. Киев</p>
						</div>
					</div>
				</div>
			</div>
			include "pagination.html"
			
		</div>
	</div>
</div>

include "footer.html"