include "head.html"
include "header.html"
<div class="wrapper redTour " ng-app="searchTour">
include "breadcrumbs.html"
	<div class="container" ng-controller="tourController">
		<div class="col-md-3 sidebar left-sidebar">
			include "chooseTour.html"
			include "banner.html"
			include "onlineServises.html"
		</div>
		<div class="col-md-9">
			<div class="container">
				<div class="col-md-12">
					<h2>Интенсив туры</h2>	
					<p>Инсентив-туры – отличная возможность отблагодарить лучших сотрудников за прекрасную работу в течение года. Поездка за границу или туры по своей стране позволят отдохнуть, а также узнать историю и культуру других стран и регионов. Традиция поощрять отличных работников компании интересными турами давно и успешно используется за границей. Многие современные компании практикуют такой вариант поощрения сотрудников к дальнейшим успехам.</p>

					<p>Благодарный сотрудник – это сотрудник, который работает с полной отдачей, поскольку прекрасно знает, что его умения и знания будут оценены по достоинству. Инсентив-поездка будет идеальным вариантом подарка!</p>
				</div>
			</div>
			include "tourList_2.html"
			<!-- include "pagination.html" -->
		</div>
	</div>
</div>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../js/tourSearch/app.js"></script>

include "footer.html"