.aboutUs {
	.welc {

		text-align: center;

		div {
			overflow: hidden;
			position: relative;
			background: @ltLightGrey;

			img {
				margin: auto;
			}
		}

		p {
			font-weight: bold;
			font-size: 16px;
			margin-top: 15px;
			margin-bottom: 0;
		}

		span {
			display: block;
			color: @ltGreen;
		}

	}
	h1 {
		font-size: 30px;
		color: @ltGreen;

	}

	h3 {
		font-size: 24px;
		text-align: center;
	}

	.newLogo {
		margin-top: 20px;

		img {
			width: 90%;
			display: block;
			margin: auto;
		}
	}

	.medal {
		width: 90%;
		margin: 20px auto;
		display: block;
		background: #081E39;

		padding: 30px 20px;
		border: 3px solid #ccc;
	}

	.main {
		h3 {
			text-align: left;
		}
	}
}