.container{
	.container{
		width:100%;
	}
}
.sidebar{
	.onlineService{
		h2{
			font-size: 20px;
			text-align: center;
		}
	}
}
.feedback{
	h1{
		color: @ltGreen;
		font-size: 30px;
		margin-bottom: 24px;
	}
	margin-top: 20px;
	.feed{
		margin-bottom: 20px;
		.text-feed{
			padding: 40px 0px 40px 30px;
			background: url(../../images/quote.png) top left no-repeat;
		}
		p{
			font-size: 14px;
			&.small{
				color: #858585;
				font-size: 12px;
				line-height: 14px;
			}
		}
	}
}