/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-1 {
  background-image: url(../../img/spritesheet.png);
  background-position: -193px -105px;
  width: 12px;
  height: 32px;
}
.icon-2 {
  background-image: url(../../img/spritesheet.png);
  background-position: -147px -54px;
  width: 22px;
  height: 32px;
}
.icon-3 {
  background-image: url(../../img/spritesheet.png);
  background-position: -124px -54px;
  width: 23px;
  height: 32px;
}
.icon-4 {
  background-image: url(../../img/spritesheet.png);
  background-position: -169px -105px;
  width: 24px;
  height: 32px;
}
.icon-5 {
  background-image: url(../../img/spritesheet.png);
  background-position: -65px -100px;
  width: 22px;
  height: 32px;
}
.icon-6 {
  background-image: url(../../img/spritesheet.png);
  background-position: -43px -100px;
  width: 22px;
  height: 32px;
}
.icon-active {
  background-image: url(../../img/spritesheet.png);
  background-position: 0px -100px;
  width: 43px;
  height: 53px;
}
.icon-aim {
  background-image: url(../../img/spritesheet.png);
  background-position: 0px 0px;
  width: 61px;
  height: 50px;
}
.icon-coop {
  background-image: url(../../img/spritesheet.png);
  background-position: -55px -50px;
  width: 62px;
  height: 40px;
}
.icon-cv {
  background-image: url(../../img/spritesheet.png);
  background-position: -169px -56px;
  width: 40px;
  height: 49px;
}
.icon-horse {
  background-image: url(../../img/spritesheet.png);
  background-position: -169px 0px;
  width: 40px;
  height: 56px;
}
.icon-promo {
  background-image: url(../../img/spritesheet.png);
  background-position: -124px 0px;
  width: 45px;
  height: 54px;
}
.icon-provide {
  background-image: url(../../img/spritesheet.png);
  background-position: 0px -50px;
  width: 55px;
  height: 50px;
}
.icon-rup {
  background-image: url(../../img/spritesheet.png);
  background-position: -61px 0px;
  width: 63px;
  height: 46px;
}
