.transition {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
}
.h2 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
.white {
  font-family: 'Open Sans';
  font-size: 14px;
  color: white;
}
.black {
  font-family: 'Open Sans';
  font-size: 16px;
  color: black;
}
.menu-btn {
  font-family: 'Open Sans';
  font-size: 14px;
  color: #653090;
}
.btn {
  color: white;
  background: #f15a2b;
  padding: 10px 15px;
  border-radius: 21px;
  text-decoration: none;
}
.row {
  width: 100%;
}
a:hover {
  opacity: 0.7;
}
.container {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.header {
  background: url("../../img/bg.png") 0 0 no-repeat;
  background-size: 100% 100%;
  min-height: 667px;
}
.header .header-menu {
  margin-bottom: 50px;
  margin-top: 25px;
}
.header .header-menu .header-menu-container {
  display: block;
  float: right;
}
.header .header-menu .header-menu-container li {
  display: inline;
  padding-right: 15px;
}
.header .header-container {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  overflow: hidden;
}
.header .header-container .logo {
  margin: 0 auto;
  margin-bottom: 8%;
}
.header .header-container p {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  text-align: left;
}
.header .header-container .btn {
  margin-top: 8%;
}
.header .header-container .slide-btn-wrapper {
  margin-top: 8%;
}
.header .header-container .slide-btn-wrapper .slide_btn img {
  margin: 0;
}
.content {
  padding: 0;
  display: flex;
}
.content .sidebar-menu {
  padding: 0 3%;
  background: #f0f0f0;
  box-shadow: 1px 5px 5px 1px gray;
  z-index: 10;
  display: block;
}
.content .sidebar-menu .logo {
  margin: 30% 0;
}
.content .sidebar-menu .sidebar-menu-container {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 40%;
  list-style-type: none;
}
.content .sidebar-menu .sidebar-menu-container li {
  padding-top: 10px;
}
.content .sidebar-menu .btn {
  white-space: normal;
  display: block;
  margin: 0 auto;
}
.content .sidebar-menu .social {
  padding: 0;
  margin-top: 40%;
  text-align: center;
}
.content .sidebar-menu .social a {
  margin-right: 15px;
}
.content .content-container {
  z-index: 0;
  padding: 0;
}
.content .content-container .mission {
  padding: 4% 4% 6%;
}
.content .content-container .mission-item {
  margin-top: 30px;
}
.content .content-container .mission-item h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-top: 0;
}
.content .content-container .mission-item p {
  font-family: 'Open Sans';
  font-size: 16px;
  color: black;
}
.content .content-container .mission-item .mission-icon {
  margin: 0 auto;
}
.content .content-container .obligations {
  background: #653090;
  padding: 4% 10% 6% 10%;
}
.content .content-container .obligations h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  color: white;
}
.content .content-container .obligations .obligations-item {
  margin-top: 25px;
}
.content .content-container .obligations .obligations-item .obligations-icon {
  margin-bottom: 20px;
}
.content .content-container .obligations .obligations-item .icon-coop {
  margin-top: 15px;
}
.content .content-container .obligations .obligations-item .icon-active {
  margin-bottom: 15px;
}
.content .content-container .obligations .obligations-item h2 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
.content .content-container .obligations .obligations-item p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: white;
}
.content .content-container .cooperation {
  padding: 4% 10% 5%;
}
.content .content-container .cooperation h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}
.content .content-container .cooperation p {
  font-family: 'Open Sans';
  font-size: 16px;
  color: black;
  margin-bottom: 80px;
}
.content .content-container .benefits {
  padding: 4% 10% 5%;
  background: #3ab44a;
}
.content .content-container .benefits h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  color: white;
  margin-bottom: 70px;
}
.content .content-container .benefits p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: white;
  margin-bottom: 30px;
}
.content .content-container .benefits .benefits-row {
  padding: 0;
}
.content .content-container .benefits .benefits-item {
  margin-top: 25px;
  display: inline-block;
}
.content .content-container .benefits .benefits-item .benefits-icon-container {
  padding-left: 0;
}
.content .content-container .benefits .benefits-item .benefits-icon-container .benefits-icon {
  margin-bottom: 20px;
}
.content .content-container .benefits .benefits-item h2 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}
.content .content-container .benefits .benefits-item p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: white;
}
.content .content-container .membership {
  padding: 4% 10% 15%;
  background: #f0f0f0;
}
.content .content-container .membership .second-tab {
  display: none;
}
.content .content-container .membership .row form {
  padding-left: 0;
}
.content .content-container .membership p {
  font-family: 'Open Sans';
  font-size: 16px;
  color: black;
  margin-bottom: 60px;
}
.content .content-container .membership .membership-tabs {
  display: block;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 0;
}
.content .content-container .membership .membership-tabs li {
  display: block;
  float: left;
  padding-bottom: 10px;
  margin-right: 50px;
  margin-top: 10px;
  border-bottom: 2px solid transparent;
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  color: #653090;
}
.content .content-container .membership .membership-tabs li:hover {
  border-bottom: 2px solid #653090;
}
.content .content-container .membership .membership-tabs li:active {
  border-bottom: 2px solid #653090;
}
.content .content-container .membership .membership-tabs li a {
  text-decoration: none;
  color: #653090;
}
.content .content-container .membership .form-part input {
  border: 2px solid #e0e0e0;
  padding: 10px 5px;
  width: 100%;
  margin-top: 20px;
}
.content .content-container .membership .form-part .more-info {
  border: 2px solid #e0e0e0;
  padding: 10px 5px;
  width: 100%;
  margin-top: 20px;
  height: 173px;
  resize: none;
}
.content .content-container .membership .form-part .chose-btn {
  border: none;
}
.content .content-container .membership .form-part .btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}
.content .content-container .membership .callback {
  background: #e3e3e3;
  margin-top: 20px;
  padding-bottom: 20%;
}
.content .content-container .membership .callback h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-top: 15px;
  font-size: 19px;
}
.content .content-container .membership .callback span {
  font-size: 22px;
}
.content .content-container .membership .callback p {
  font-family: 'Open Sans';
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}
.content .content-container .partners {
  margin-bottom: 30px;
  padding: 0 10%;
}
.content .content-container .partners h1 {
  font-family: 'Open Sans';
  font-size: 24px;
  color: black;
  font-weight: bold;
}
.content .content-container .footer {
  padding: 20px 0 10px 40px;
  background: #484848;
}
.content .content-container .footer p {
  font-family: 'Open Sans';
  font-size: 14px;
  color: white;
}
.top-menu-fixed {
  background: #f0f0f0;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 30;
}
.top-menu-fixed .top-menu-fixed-wrapper {
  padding: 10px 0;
  margin: 0 auto;
  width: 250px;
  height: 60px;
}
.top-menu-fixed .top-menu-fixed-wrapper .logo-link {
  display: block;
  float: left;
  margin-right: 10px;
}
.top-menu-fixed .top-menu-fixed-wrapper .logo-link .logo {
  height: 40px;
  width: 100px;
}
.top-menu-fixed .top-menu-fixed-wrapper .btn-wrapper {
  display: none;
  float: left;
  margin-right: 10px;
}
.top-menu-fixed .top-menu-fixed-wrapper .btn-group {
  display: block;
  float: left;
  margin-right: 10px;
}
.top-menu-fixed .top-menu-fixed-wrapper #memb-ship {
  color: white;
  background: #f15a2b;
  padding: 10px 15px;
  border-radius: 21px;
  text-decoration: none;
  min-width: 90px;
}
.top-menu-fixed .top-menu-fixed-wrapper .social {
  padding-top: 7px;
  display: block;
  float: left;
}
@media screen and (max-width: 700px) {
  #header-wrapper > div.header-container > p {
    font-size: 20px;
  }
  .membership .row {
    display: block;
  }
  .membership .row form {
    width: 100%;
  }
  .membership .row .callback {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .top-menu-fixed {
    display: block;
  }
  .content.sidebar-menu {
    display: none;
  }
  .content-container {
    width: 100%;
  }
  #header-wrapper > div.header-container > p {
    font-size: 14px;
  }
  #main > div.content.col-md-12.col-sm-12.col-xs-12 > #side-menu {
    display: none !important;
  }
  #header-wrapper > div.header-menu.col-md-12.col-sm-12.col-xs-12 {
    display: none;
  }
  #about > div > div.col-md-2.col-sm-2.col-xs-2 {
    width: 100%;
    margin-bottom: 20px;
  }
  #header-wrapper > div.header-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 75px;
  }
  #header-wrapper {
    min-height: 520px;
  }
}
