<div class="aboutUs">
	<div class="row">
		<div class="col-md-3 sidebar left-sidebar">
			<img src="../images/content/logoSq.png" class="newLogo">
		</div>
		<div class="col-md-9 main">
			<h1>О комании</h1>
				<p>
				Lumiere Business Travel Dms - профессиональный организатор деловых поездок, конференций, инсентив-программ, массовых мероприятий отдыха для корпоративных клиентов, успешно работает на рынке с 2001 года. С момента основания компания завоевала признание многих клиентов. Компания основания компания завоевала признание многих клиентов. 
				</p><p>
				Компания "Люмьер Тревел" - это многолетний опыт работы, новые передовые технологии и высококвалифицированная команда профессионалов, которая является специалистом в области организации корпоративных мероприятий на Украине, в СНГ и за рубежом. Следуя принципу деятельности Lumiere Business Travel Dmc, наши партнеры-клиенты получают любой набор из спектра услуг с помощью одного звонка одному персональному менеджеру. 
				</p> <p>
				Мы работаем 24 часа в сутки, 7 дней в неделю, без выходных. 
				Мы будем рады Вашему звонку в любое удобное для Вас время. 
				</p>
		</div>
	</div>
	<div class="row">
		<h3>Вас встретят</h3>
		<div class="col-md-3 welc">
			<img src="../images/content/welc3.png" class="img-circle">
			<p>Лариса Александровна</p>
				<span>Директор агенства</span>
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/welc3.png" class="img-circle">
			<p>Надежда Андреевна</p>
				<span>менеджер по корпоративным клиентам</span>
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/welc3.png" class="img-circle">
			<p>Александр Сергеевич</p>
				<span>менеджер по Европе</span>
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/welc3.png" class="img-circle">
			<p>Яна Владимировна</p>
				<span>менеджер по ивентам</span>
		</div>
	</div>
	<div class="row">
		<h3>Наши награды</h3>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
		<div class="col-md-3 welc">
			<img src="../images/content/med1.png" class="medal">
		</div>
	</div>
</div>