<div class="topTourse container">
	<h2>Лучшие туры</h2>
	<div class="col-md-6">
		<div class="tour">		
			<img src="../images/content/tour1.png">
			<div class="textZone">
				<a href="#"><h4>Свой остров на Мальдивах</h4></a>
				<div class="col-md-4">
					<p>4 дня/3 ночи</p>
					<p>Нью Йорк-Вашингтон</p>
				</div>
				<div class="col-md-4">
					<ul>
						<span>Тип поездки:</span>
						<li><div class="icon-typeT1 grayscale noColor"></div></li>
						<li><div class="icon-typeT1 grayscale noColor"></div></li>
						<li><div class="icon-typeT1 grayscale noColor"></div></li>
					</ul>
				</div>
				<div class="col-md-4">
					<a href="#" class="borded revers col-md-4">Подробнее</a>
				</div>
			</div>
			<div class="labelT">
				<span>TOP</span> 2015
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="tour">		
		
		<img src="../images/content/tour11.png">
		
			<div class="textZone">

				<a href="#"><h4>Свой остров на Мальдивах</h4></a>
				<div>
					<p>4 дня/3 ночи</p>
					<p>Нью Йорк-Вашингтон</p>
				</div>
				<ul>
				<span>Тип поездки:</span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
				</ul>

				<a href="#" class="borded revers">Подробнее</a>
			</div>

			<div class="labelT red">
				<span>BEST</span> SALE
			</div>
		</div>
	</div>
</div>