<div class="breadcrumbs">
	<div class="container">
		<a href="#">Главная</a>
		<a href="">Не очень главная</a>
		<a href="">Совсем не главная</a>
		<a href="">Антиглавная</a>
		<span>Tекущая</span>

	</div>
</div>