<div class="chooseTour" ng-init="updateInterface()">
	<h4>Подбор тура</h4>

	

	<form id="typeFil" name="typeFil"  action="">
		
	<p>Тип поездки:</p>
    <!-- Type filter -->
	<ul class="type">
		<li ng-repeat="filterType in filterData.type" ng-class="filterType.model">
			<label><input type="checkbox" ng-checked="filterType.model" ng-true-value="'active'" ng-click="includeTour(filterType.type, false)" value="{{filterType.type}}" ng-model="filterType.model">
			<i class="icon icon-{{filterType.type}}"></i>{{filterType.rus}}</label>
		</li>
	</ul>
	<!-- Country filter -->
	<p>Страна:</p>
	<ul class="land">
		<li ng-repeat="filterCountry in filterData.country">
			<label>
				<input value="{{filterCountry.type}}" class="{{filterCountry.type}}" type="checkbox" value="1" ng-model="filterCountry.model" ng-checked="filterCountry.model" ng-click="includeTour(false, filterCountry.type)"><i></i><span>{{filterCountry.rus}}</span>
			</label>
		</li>
	</ul>

	<p>Срок</p>
	<div>
	 <input	type="number" ng-change="refreshLocation()" min="1" step="1" class="day" ng-model="days" value="{{days}}"placeholder="дней">
	 <span> - </span>
	 <input	type="number" min="0" class="night" placeholder="ночей" value="{{days - 1 < 0 ? '' : days - 1}}" disabled="disabled">
	</div>
	 <!-- <input type="submit" class="borded revers" value="Подобрать туры"> -->
	 <input type="reset" ng-click="clearForm()" value="Очистить фильтр">


	</form>
</div>