<footer>
	<div class="feedback">
		<div class="container">		
			<nav class="col-md-4 first">
				<ul>
					<li><a href="#">О компании</a></li>
					<li><a href="#">Агенствам</a></li>
					<li><a href="#">Документы</a></li>
				</ul>
			</nav>
			<form class="col-md-5 second">
				<input type="text" placeholder="Ваш e-mail">
				<button type="submit"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Подписаться</button>
				<!-- <input type="submit" value="Подписаться"> -->
				
				
			</form>
			<div class="col-md-3 last">
				<img src="../images/content/bta.png">
				<img src="../images/content/ita.png">
			</div>
		</div>
	</div>
	<div class="foot">
		<div class="container ">
			<address class="col-md-6 first">
				<p>
					Lumiere Travel Club © 2012 
				</p>
				<p>
					ул. Б.Васильковская, 84/20, тел.: 044 251 88 88, <a href="mailto:info@ltclub-dmc.com">info@ltclub-dmc.com</a> 
				</p>
			</address>

			<div class="col-md-3 second">
				<p>
					Следите за нашими событиями:
				</p>
				<a href="#"><div class="icon-vk grayscale"></div></a>
				<a href="#"><div class="icon-vk grayscale"></div></a>
				<a href="#"><div class="icon-vk grayscale"></div></a>
			</div>

			<div class="col-md-3 last">
				<p>
					Разработка сайта и продвижение:
				</p>
				<a href="http://gns-it.com/"><div class="icon-gns"></div></a>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript" src="../js/dist/lightbox.min.js"></script>
</body>
</html>