<header>
<nav class="navbar">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" id="logo" class="icon-logo"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Кто мы</a></li>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Наши услуги <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li ><a href="#">MICE</a></li>
					<li><a href="#">Корпоративное обслуживание</a></li>
					<li><a href="#">On-line сервис 24 часа</a></li>
					<li><a href="#">Авиабилеты</a></li>
					<li><a href="#">VIP обслуживание в аэропортах</a></li>
					<li><a href="#">Прием иностранных граждан</a></li>
					<li><a href="#">VIP обслуживание в аэропортах</a></li>
					<li><a href="#">Отели</a></li>
					<li><a href="#">Визы</a></li>
					<li><a href="#">Загранпаспорта</a></li>
					<li><a href="#">Ж/д билеты</a></li>
					<li><a href="#">Билеты на автобус</a></li>
					<li><a href="#">Аренда автомобилей</a></li>
					<li><a href="#">Трансферы</a></li>
					<li><a href="#">Страхование</a></li>
					<li><a href="#">Travel Sim</a></li>
				</ul>
				</li>
				<li ><a href="#">Отзывы</a></li>
				<li ><a href="#">Портфолио</a></li>
				<li ><a href="#">Контакты</a></li>
			</ul>
			<p class="navbar-text navbar-right">+380 94 251 88 88</p>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
</header>