<section class="newsList">
	<div class="container">		
	<h3>Лента новостей</h3>
		<div>
			<div class="col-md-2 col-sm-12">
				<p>21.01.2015</p>
				<a href="#">Летний тимбилдинг 2015 от Люмиер</a>
			</div>

			<div class="col-md-2 col-md-offset-1 col-sm-12">
				<p>21.01.2015</p>
				<a href="#">Летний тимбилдинг 2015 от Люмиер</a>
			</div>

			<div class="col-md-2 col-md-offset-1 col-sm-12">
				<p>21.01.2015</p>
				<a href="#">Летний тимбилдинг 2015 от Люмиер</a>
			</div>

			<div class="col-md-2 col-md-offset-1 col-sm-12">
				<p>21.01.2015</p>
				<a href="#">Летний тимбилдинг 2015 от Люмиер</a>
			</div>
		</div>
		<a class="col-md-2 col-sm-12 col-md-offset-10 text-center" href="#">Читать все новости  &rarr;</a>
	</div>
</section>