<div class="newsPage">
	<div class="col-md-12">
		
			<img  src="../images/content/news1.png">
		
		
			<h4>Хельсинкский аэропорт сделают тихим в июне</h4>
			<p class="light">15.06.2015</p>
			<p>
				Хельсинкский аэропорт Вантаа сделают тихим в июне благодаря отказу от трансляции объявлений по громкой связи.
Это сделано для того, чтобы путешественники испытывали меньший стресс благодаря снижению уровня фонового шума...

			</p>
			

				<a href="#" class="rarr">Показать полностью &rarr;</a>
			
		
	</div>

	<div class="col-md-12">
		
			<!-- <img  src="../images/content/news1.png"> -->
		
		
			<h4>Хельсинкский аэропорт сделают тихим в июне</h4>
			<p class="light">15.06.2015</p>
			<p>
				Хельсинкский аэропорт Вантаа сделают тихим в июне благодаря отказу от трансляции объявлений по громкой связи.
Это сделано для того, чтобы путешественники испытывали меньший стресс благодаря снижению уровня фонового шума...

			</p>
			

				<a href="#" class="rarr">Показать полностью &rarr;</a>
			
		
	</div>

	<div class="col-md-12">
		
			<img  src="../images/content/news1.png">
		
		
			<h4>Хельсинкский аэропорт сделают тихим в июне</h4>
			<p class="light">15.06.2015</p>
			<p>
				Хельсинкский аэропорт Вантаа сделают тихим в июне благодаря отказу от трансляции объявлений по громкой связи.
Это сделано для того, чтобы путешественники испытывали меньший стресс благодаря снижению уровня фонового шума...

			</p>
			

				<a href="#" class="rarr">Показать полностью &rarr;</a>
			
		
	</div>

	<div class="col-md-12">
		
			<!-- <img  src="../images/content/news1.png"> -->
		
		
			<h4>Хельсинкский аэропорт сделают тихим в июне</h4>
			<p class="light">15.06.2015</p>
			<p>
				Хельсинкский аэропорт Вантаа сделают тихим в июне благодаря отказу от трансляции объявлений по громкой связи.
Это сделано для того, чтобы путешественники испытывали меньший стресс благодаря снижению уровня фонового шума...

			</p>
			

				<a href="#" class="rarr">Показать полностью &rarr;</a>
			
		
	</div>



</div>