<div class="col-md-12 oneNews">
	<h1>Хельсинкский аэропорт сделают тихим в июне</h1>
	<p class="light">
		15.06.2015
	</p>

	<img src="../images/content/news11.png">

	<p>
		Хельсинкский аэропорт Вантаа сделают тихим в июне благодаря отказу от трансляции объявлений по громкой связи.<br> <br>
Это сделано для того, чтобы путешественники испытывали меньший стресс благодаря снижению уровня фонового шума. <br> <br>
В связи с этим пассажиров просят проверять информацию о статусе их рейса и выходе на посадку на мониторах в аэропорту или с помощью своих мобильных устройств. По прежнему по громкой связи будут звучать объявления о чрезвычайных ситуациях, а также информация у выходов на посадку. <br> <br>
Finnair напоминает, что посадка в аэропорту Хельсинки начинается за 30-60 минут до вылета в зависимости от числа пассажиров и размеров самолетов и заканчивается за 15 минут до времени отправления, указанного в расписании. 
	</p>

	<a href="#">&larr; Назад</a>

</div>