
<div class="container">
	<div class="col-md-12 text-center">
		<ul class="paginate">
			<li><a href="#">&larr; Назад</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">Вперед &rarr;</a></li>
		</ul>

	</div>
</div>