<section class="presentation">
	<div class="container">
		<div class="col-md-3">
			<img class="img-responsive img-circle"src="../images/content/der.png">
			<p class="text-center">Видео обращение</p>
		</div>
		<div class="col-md-9">
		<div class="icon-topSign"></div>
			<p class="margin-text">
			Добро пожаловать, уважаемые клиенты и гости сайта, в компанию «Lumiere»! Мы с большим удовольствием поможем Вам организовать любое корпоративное мероприятие на территории Украины и за рубежом. Наш многолетний опыт и прифессионализм не оставят Вас без желаемого результата.

			</p>
			<div class="col-md-4">
				<span>С уважением,</span>
				<span class="bold">Лариса Александровна</span>
				<span class="light">Директор компании «Lumiere»</span>
			</div>

			<div class=" col-md-4 ">
			<div class="icon-sign"></div>
				
			</div>
			<div class=" col-md-4 ">
				<a href="#" download class="borded">Скачать нашу призентацию</a>
			</div>
		</div>
	</div>
</section>