<div class="productPage">
	<h1>Нью-Йорк и Вашингтон – два города контрастов</h1>
	<div class="col-md-5">
		<table>
			<tr>
				<td>Длительность:</td>
				<td>4 дня/3 ночи</td>
			</tr>
			<tr>
				<td>Тип поездки:</td>
				<td>
					<div class="icon icon-active"></div>
					<div class="icon icon-fishing"></div>
				</td>
			</tr>
			<tr>
				<td>Маршрут:</td>
				<td>Нью Йорк-Вашингтон</td>
			</tr>
		</table>




	</div>
	<div class="col-md-4 col-md-offset-3">
		<a href="#" class="borded revers right">Забронировать тур</a>
	</div>

	<div class="col-md-12">
		include "carusel.html"

		

	<h3>День 1. Здравствуй, Америка!</h3>
	<ul> 
	<li>Прибытие в Нью Йорк, трансфер из аэропорта, поселение в отель 4*</li>
	<li>После длительного перелета Вам будет необходим небольшой отдых.</li>
	<li>Ужин в известном баре-ресторане Нью-Йорка Hurley’s.</li>
	</ul>
	<h3>День 2. Вся прелесть Нью-Йорка</h3>
	<ul> 
	<li>Завтрак в ресторане отеля</li>
	<li>7-часова обзорная экскурсия по Нью Йорку, в ходе которой у Вас будет возможность увидеть главные 
	  достопримечательности города: Уолл-Стрит, панораму мостов, Всемирный Финансовый центр, Артистический 
	  район Ист Виллэдж, Бродвей, 5-ю Авеню, здание ООН, Рокфеллер и Линкольн Центр, Кафедральный собор Св. 
	  Иоанна, Собор Святого Патрика, Центральный Парк, Таймс Сквер, Чайнатаун.</li>
	<li>Обед в Delegates’ Dining Room в здании ООН.</li>
	<li>Ужин в ресторане Brazil Brazil на Бродвее.</li>
	<li>Конечно же, полноценное знакомство с Нью-Йорком не возможно без бродвейского представления в одном из 
	  известнейших театров. Вас ждет шоу Чикаго. Наслаждайтесь!</li>
	  </ul>
	<h3>День 3. Город с высоты птичьего полета</h3>
	<ul>

	
	<li>Завтрак в ресторане отеля.</li>
	<li>Шоппинг на любой вкус. Одежда и обувь демократичных и luxury брендов, игрушки и одежда для детей, 
	  продукция компании Apple и многое другое.</li>
	<li>Самостоятельный обед.</li>
	<li>Подъем на  обзорную площадку здания Top of the Rock. Круиз по Нью-Йоркской гавани с осмотром видов 
	  Нью-Йорка и выходу к статуе Свободы.</li>
	<li>Ужин в ресторане Brazil Grill.</li>
	</ul>
	<ul> 
	<h3>День 4. Столица страны демократии</h3>
	<li>Завтрак в ресторане отеля, ранний выезд в Вашингтон.</li>
	<li>5-часовая экскурсия по городу, с осмотром самых известных мест:  Белого дома, Капитолия, Национальной 
	  аллеи, Мемориала Линкольна, Кафедрального собора, Базилики непорочного зачатия и Мемориала Мартина 
	  Лютера Кинга.</li>
	<li>Обед в ресторане МІО.</li>
	<li>Выезд обратно в Нью-Йорк.</li>
	<li>Поздний ужин в ресторане-баре Hurley’s.</li>
	</ul>
	<h3>День 5. Встреча тет-а-тет с городом огней</h3>
	<ul> 
	<li>Завтрак в ресторане отеля.</li>
	<li>Выселение из отеля, размещение вещей в камере хранения отеля.</li>
	<li>Свободное время. Посетите места, о которых много слышали и которые хотели посетить.</li>
	<li>Самостоятельный обед.</li>
	<li>Встреча в ресторане Brazil Brazil, ужин в ресторане.</li>
	<li>Трансфер из отеля в аэропорт, вылет  в Киев.</li>
	</ul>

	</div>

	<div class="col-md-5">
		<p>
			Стоимость тура* на человека
	с проживанием в двухместных номерах
		</p>
	</div>
	<div class="col-md-2">
		<span class="price">
			от <span>1195</span> USD**
		</span>
	</div>
	<div class="col-md-4 col-md-offset-1">
		<a href="#" class="borded revers right">Забронировать тур</a>
	</div>

	<div class="col-md-12 grey">
		<div class="col-md-6">
		<ul>
			
		
		<h4>В стоимость включено: </h4>
	   <li> проживание в отелях 4*, </li>
	   <li> трансферы, </li>
	   <li> питание и активности, согласно программе,</li>
	   <li> услуги гида, согласно программе, </li>
	   <li> страховка, </li>
	   <li> входные билеты, в т.ч. на бродвейское шоу.</li>
	   </ul>
		</div>
		<div class="col-md-6">
		<ul>
			<h4>В стоимость не включено: </h4>
	   <li> авиабилет, </li>
	   <li> виза, </li>
	   <li> напитки, </li>
	   <li> другие услуги не упомянутые выше.</li>
	   </ul>
		</div>

	</div>

	<p class="col-md-11 ita">*Стоимость актуальна при группе от 14 персон.<br>
	**Оплата в гривне по коммерческому курсу на день выставления счета.</p>
</div>