<section class="recomendation">
	<div class="container">	
		<h3>Нас рекомендуют</h3>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec1.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec2.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec3.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec4.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec5.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec6.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec7.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec8.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec9.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec10.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<img class="img-responsive" src="../images/content/rec11.png">
		</div>

		<div class="col-md-2 col-sm-3 col-xs-4">
			<a href="#" class="borded revers grayscale">Показать еще  &rarr;</a>
		</div>
	</div>
</section>