<section class="topBannerMain">
	<div class="container">
	<div class="icon-womanTopBanner"></div>

	<div class="headlinesMain">
		<h2>Организация</h2> 
		<h1>корпоративных мероприятий</h1>
 

		<h4>по Украине, СНГ и за рубежом</h4> 

		<a href="#" class="borded">Подробнее</a>

	</div>
		<div class="cont">
		<div class="col-md-4">
			<div class="icon-topBannerImg1">
				<h3>M.I.C.E.</h3>
				<p>Организация бизнес инвент событий</p>
				<a href="#" class="borded">Подробнее</a>
			</div>
		</div>
			
		<div class="col-md-4">
			<div class="icon-topBannerImg3">
				<h3>M.I.C.E.</h3>
				<p>Организация бизнес инвент событий</p>
				<a href="#" class="borded">Подробнее</a>
			</div>
		</div>	
		<div class="col-md-4">
			<div class="icon-topBannerImg2">
				<h3>M.I.C.E.</h3>
				<p>Организация бизнес инвент событий</p>
				<a href="#" class="borded">Подробнее</a>
			</div>
		</div>	

			
		</div>






		
	</div>
<div class="topScale">
	<div>
		
	</div>
</div>

</section>





	<div class="container benefits">
			<div class="col-md-3">
				<div class="icon-benefit3 grayscale"></div>
				<p>15 лет успешной работы</p>
			</div>
			<div class="col-md-3">
				<div class="icon-benefit2 grayscale"></div>
				<p>Аккредитация IATA</p>
			</div >
			<div class="col-md-3">
				<div class="icon-benefit1 grayscale"></div>
				<p>Диплом Амадеус</p>
			</div>
			<div class="col-md-3">
				<div class="icon-benefit4 grayscale"></div>
				<p>15 лет успешной работы</p>
			</div>
	</div>