<div class="tourList container">
	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour2.png"></a>
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>

			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
				</ul>
			</div>
		</div>
	</div>
	
<!-- 	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour21.png"></a>
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>

			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>

				</ul>
			</div>
		</div>	
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour22.png"></a>
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>

			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>

				</ul>
			</div>
		</div>	
		
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour23.png"></a
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>

			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
				</ul>
			</div>
		</div>	
		
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour24.png"></a>
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>

			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
				</ul>
			</div>
		</div>	
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour25.png"></a
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>
			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
				</ul>
			</div>
		</div>	
		
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour26.png"></a
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>
			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
				</ul>
			</div>
		</div>	
	</div>

	<div class="col-md-3 col-sm-6">
		<div class="tour">
			<a class="img-link" href="#"><img src="../images/content/tour27.png"></a
			<div>
				<a href="#">Свой остров на Мальдивах</a>
				<p>4 дня/3 ночи</p>
				<p>Нью Йорк-Вашингтон</p>
			</div>
			<div>
				<ul>
				<span> Тип поездки: </span>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
					<li><div class="icon-typeT1 grayscale noColor"></div></li>
				</ul>
			</div>
		</div>	 -->
		
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 text-center">
		<a href="#" class="borded revers">Посмотреть все туры</a>
	</div>
</div>
