<div class="tourList container">
	<div class="col-md-4 col-sm-6" ng-repeat="tour in data | limitTo: pageSize">  
		<div class="tour">
			<img ng-src="{{tour.img}}" style="max-height:234px; min-height:234px;">
			<a ng-href="tour/{{tour.tourId}}">{{tour.name}}</a>
			<div>
				<p>{{tour.days}} дня / {{tour.night}} ночи</p>
				<p>{{tour.place}}</p>
			</div>
			<div>
				<span>Тип поездки:</span>
				<ul>
					<li ng-repeat="type in tour.type">
						<div class="icon-{{type}}"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 text-center">
		<button ng-click="showMore()" ng-hide="pageSize == filterData.total" class="borded revers">Показать еще</button>
	</div>
</div>
