.contacts{
	& .icon{
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
	& p{
		font-size: 12px;
		white-space: nowrap;
	}
	& a{
		font-size: 12px;
		color: @ltGreen;
		white-space: nowrap;
		&:hover{
			text-decoration: underline;
		}
	}
}

.contact-form{
	margin-top: 107px;
	h2{
		text-align: center;
		font-size: 18px;
		margin-bottom: 10px;
	}
	form{
		display:block;
		background: #f5f5f5;
		padding: 20px;
		input[type="text"], input[type="email"]{
			display:block;
			width: 100%;
			height: 40px;
			border-radius: 4px;
			border: 1px solid #ccc;
			margin-bottom: 10px;
		}
		input[type="submit"]{
			display:block;
			margin: 0 auto;
			text-align: center;
			border-radius: 20px;
			height: 40px;
			min-width: 100px;
			background: @ltGreen;
			color:white;
			border:none;
			&:hover{
				background: @ltGreen + 40%;
			}
		}
		textarea{
			display:block;
			width: 100%;
			height:100px;
			border-radius: 4px;
			border: 1px solid #ccc;
			margin-bottom: 10px;
		}
	}
}