.topBannerMain {
	
	& {
	
	color: white;
	background: @ltGreen url(../../images/content/topBannerMain.png) center center ;
	background-size: cover;
	width: 100%;
	position: relative;
	margin-bottom: 70px; 

	}

	div.container {
		position: relative;
	}

	.headlinesMain {
		margin-top: 120px;
		margin-left: 100px;

		h1 {
			margin-top: -10px;
			color: white;
		}

		h4 {
			font-size: 20px;
			font-weight: normal;
			width: 170px;
			margin-top: 20px;
			margin-bottom: 35px;
		}
	}

	h2:first-of-type{
		text-transform: uppercase;
		font-size: 36px;
		width: 400px;
		font-weight: lighter;
	}

	h1 {
		text-transform: uppercase;
		font-weight: bold;
		width: 400px;
	}

	div.icon-womanTopBanner	{
		background-image: url(../../images/content/womanTopBanner.png);
		margin-top: 30px;
		float: right;
		margin-right: 50px;
		height: 550px;
  		width: 343px;
		
	}

	div.cont {
		position: absolute;
		bottom: -100px;
		overflow: hidden;
		left: 0;
		width: 100%;
		z-index: 2;
	}

	div.icon-topBannerImg1, div.icon-topBannerImg2, div.icon-topBannerImg3 {
		background: black url(../../images/content/topBannerImg1.png) center center ;
		background-size: cover;
		
		height: 200px;
		position: relative;
		

		h3 {
			transition: all .5s;
			position: absolute;
			top: 70px;
			margin-top: 0;
			text-align: center;
			width: 100%;
		}	

		p {
			transition: all .5s;
			position: absolute;
			top: 100px;
			text-align: center;
			width: 100%;
		}

		a {
			transition: all .5s;
			display: none;
		}

		&:hover a{
			position: absolute;
			top: 110px;
			display: block;
			left: 100% / 2 - 16.5%;
		}

		&:hover {

			box-shadow: inset 0 0 200px rgba(29,137,59, .8);

			h3 {
				top: 50px;
			}

			p {
				top: 80px;
			}
		}
	}

	div.icon-topBannerImg2 {
		background: black url(../../images/content/topBannerImg2.png) center center;
		background-size: cover;
		float: none;
		margin: auto;
	}

	div.icon-topBannerImg3 {
		background: black url(../../images/content/topBannerImg3.png) center center;
		background-size: cover;
		float: none;
	}

.topScale {
	position: absolute;
	z-index: 1;
		background-color: @ltGreen;
		width: 100%;

		div {
			border-bottom: 30px solid white;
		border-radius:50% 50% 0px 0px "/" 20px 20px 0px 0px ; // как тут??!!
		
		}
	}


}

.benefits {
	margin-top: 160px;

	div  {
		margin: auto;
		text-align: center;
		margin-bottom: 15px;
	}
}

