
@ltDarkGrey : #353535;
@ltGrey : #AEAEAE;

#logo {
	display: block;
	float: left;
	width: 201px;
  height: 60px;
  margin-top: 5px;
  outline: none;

}
header {
	background: @ltDarkGrey;
	.navbar{
		margin-bottom: 0;
	}
	.navbar-nav>li>a {
		padding: 5px;
		outline: none;
	}
	.navbar-toggle {
		border-color: @ltGreen;
		margin-top: 23px;
 		margin-right: 15px;
  		margin-bottom: 15px;
		span {
			background: @ltGreen;
		}
	}
	.in{
		& .open {
			& .dropdown-menu{
				overflow:hidden;
				& li {
					width:100%;
				}
			}
		}
	}	
	& ul.nav {
		margin: 0 auto;
		text-align: center;
		padding: 10px 0;
		li {
			position: relative;
			display: block;
			padding: 15px 20px;
			color: @ltGrey;
			&:hover {
				background:transparent;
			}
			&.open{
				> a{
					color:white;
					background: transparent;
					border-bottom: 2px solid transparent;
					outline: none;
					&:hover, &:focus {
						color:white;
						background: transparent;
						border-bottom: 2px solid @ltGreen;
						outline: none;
					}
				}
			}
			> a {
				color: @ltGrey;
				border-bottom: 2px solid transparent;
				padding: 5px;
				&:hover, &:focus {
					color:white;
					background: transparent;
					border-bottom: 2px solid @ltGreen;
				}
			}
			&:hover {
				color: white;
			}
			& ul.dropdown-menu {
				width: 595px;
				background: @ltDarkGrey;
				padding: 15px;
				z-index:1;
				& li {	
					display: block;
					float: left;
					width: 50%;
					min-width: 280px;
					float: left;
					margin: 0;
					padding: 2px 10px;
					& a{
						color: @ltGrey;
						background: transparent;
						border-bottom: 2px solid transparent;
						outline: none;
						&:hover{
							color:white;
							border-bottom: 2px solid @ltGreen;
							outline: none;
						}
					}
				}
			}
		}
	}
	&  .navbar-text.navbar-right {
		color: white;
		margin-top: 25px;
		font-size: 16px;
  		width: 170px;
		text-align: right;
		position: relative;
		&:after {
			position:absolute;
			content: "";
			background-image: url(../../images/content/phone.png);
			  
			  width: 19px;
			  height: 19px;
			  top: 0;
			  left: 0;
		}
	}
}

@media (max-width: 1198px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
