/* Общие элементы, обычное состояние */
ul#Tabs {
	border-radius: 5px 5px 0 0;
	border: 1px solid #ccc;
    list-style-type: none;
    background-color: #E5E5E5;
    width: 100%;
    padding: 0;
    overflow: hidden;
    margin-bottom: -1px;
    z-index: 10;
    
	& li.Tab {
		float: left;
	    border-radius: 5px 5px 0 0;
    	padding: 10px 35px 10px 35px;
	    background-color: #E5E5E5;
	    border-left: 1px solid transparent;
 		border-right: 1px solid transparent;
 		position: relative;

 		&:first-child {
    		border-left: 1px solid transparent;
    	}

		&:before {
    		content: "";
		    display: block;
		    border-right: 1px solid #ccc;
		    position: absolute;
		    height: 15px;
		    left: -2px;
		    top: 13px;
    		
    	}

		& a {
		    float: left;
		    display: block;
		    color: #666666;
		    text-decoration: none;
		    -moz-outline: none;
		    outline: none;		 
			
		}

	}
	
}	
 
/* Состояние: активная */
#Tabs li.SelectedTab {
    float: left;    
    border-radius: 5px 5px 0 0;
  	padding: 10px 35px 10px 35px;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    
    
    	&:first-child {
    		border-left: 1px solid transparent;
    	}

}
 
#Tabs li.SelectedTab A {
    float: left;
    display: block;
    //color: #666666;
    text-decoration: none;
    //padding-bottom: 10px;
    cursor: default;
    -moz-outline: none;
	outline: none;	
}


p {
	margin: 30px 0 25px 0 !important;
}

.airtickets-form form {
	    background: #f5f5f5;
	    padding: 30px 0 30px 0;
	    border: 1px solid #ccc;
    	border-radius: 0 0 5px 5px;

    		div.container {
	    		margin-bottom: 30px;

	    		div .col-md-6.right:last-child {
	    			padding-left: 0;
	    		}
	    	
		    	div.col-md-4.age {
		    		padding: 0 ;
					padding-right: 10px;

				}
			}
			
	    	label {
	    		max-width: 100%;
	    	}

	    	input {
	    		display: block;
			    width: 100%;
			    height: 40px;
			    border-radius: 4px;
			    border: 1px solid #ccc;
			    margin-bottom: 10px;
	    	}

	    	select {
	    		display: block;
			    width: 100%;
			    height: 40px;
			    border-radius: 4px;
			    border: 1px solid #ccc;
			    margin-bottom: 10px;
	    	}

	    	button {
	    		display: block;
			    margin: 0 auto;
			    text-align: center;
			    border-radius: 20px;
			    height: 40px;
			    min-width: 100px;
			    background: #1d893b;
			    color: white;
			    border: none;
				padding: 0px 30px 0 28px;

			    	&:hover {
			    		background-color: #45b163;
			    	}
	    	}
}