
.sidebar {
	section {
		&.onlineService {
			& ul {
				& li {
					width: 100%;
					position: relative;
					clear: both;
					overflow: hidden;
					& a{
						// max-height: 70px;
					}
					span {
						display:inline-block;
						text-align: left;
						vertical-align: middle;
						max-width: 90px;
					}

					& .icon{
						display:inline-block;
						margin: 0 20px 0 0;
						vertical-align: middle;
					}
				}
			}
		}
	}
}
section {
	&.onlineService {
		& ul {
			& li {
				& .icon{
					display:block;
					margin: 0 auto 10px auto;
					vertical-align: middle;
				}
			}
		}
	}
}
.onlineService {
	padding: 30px 0;
	ul {
		padding: 0;
	}
	h2 {
		text-transform: uppercase;
		text-align: center;
		color: @ltDarkGrey;
		font-weight: bold;
		font-size: 1.5em;
	}
	li {
		list-style: none;
		display: block;
		float: left;
		text-align: center;
		border: 1px solid transparent;
		outline: none;
		@media screen and (min-width: 960px) {
			width: 100% / 7;
		}
		&:hover{
			background: @ltLightGrey;
			border-color: #ccc;
			border-radius: 30px;
			a{
				color:@ltGreen;
				outline: none;
			}
		}
		a {
			display: block;
			box-sizing: border-box;
			color: @ltDarkGrey;
			text-align: center;
			outline: none;
		}	
	}
}