@font: 'Open Sans';
@font-size: 14px;
@violet: #653090;
.transition {
	-webkit-transition: all 0.3s ease-out 0s;
     -moz-transition: all 0.3s ease-out 0s;
     -o-transition: all 0.3s ease-out 0s;
     transition: all 0.3s ease-out 0s;
}

.h1 {
	font-family: @font;
	font-size: @font-size + 10;
	color: black;
	font-weight: bold;
}
.h2 {
	.h1;
	font-size: @font-size;
	color: white;
	text-transform: uppercase;
}
.white {
	font-family: @font;
	font-size: 14px;
	color: white;
}
.black {
	font-family: @font;
	font-size: @font-size + 2;
	color: black;
}
.menu-btn {
	font-family: @font;
	font-size: @font-size;
	color: @violet;
}
.btn {
	color: white;
    background: #f15a2b;
    padding: 10px 15px;
    border-radius: 21px;
    text-decoration: none;
}
.row {
	width: 100%;
}
a {	
	&:hover {
		opacity: 0.7;
	}
}

.container {
	width:100%;
	padding: 0;
	overflow: hidden;
}
.header {
	background: url("../../img/bg.png") 0 0 no-repeat;
	background-size: 100% 100%;
	min-height: 667px;

	.header-menu {
		margin-bottom: 50px;
    	margin-top: 25px;

		.header-menu-container {
			display: block;
			float: right;


			li {
				display: inline;
				padding-right: 15px;
			}
		}
	}

	.header-container {
		margin: 0 auto;
		width: 60%;
		text-align: center;
		overflow: hidden;
		// position: absolute;
	 //    top: 50%;
	 //    left: 50%;
	 //    transform: translate(-50%,-50%);	    

		.logo {
			margin: 0 auto;
    	    margin-bottom: 8%
		}

		p {
			font-family: @font;
			font-size: @font-size + 10;
			color: black;
			text-align: left;
		}
		.btn {
			margin-top: 8%
		}

		.slide-btn-wrapper {
			margin-top: 8%;
		
			.slide_btn {
				
	    		img {
	    			margin: 0;
	    		}
			}
		}
	}
		
};
.content {
	padding: 0;
	display: flex;

	.sidebar-menu {
		padding: 0 3%;
		background: #f0f0f0;
		box-shadow: 1px 5px 5px 1px gray;
        z-index: 10;
        display: block;       

		.logo {
			margin:30% 0;
		}
		
		.sidebar-menu-container {
			padding-left: 0;
			margin-top: 0;
            margin-bottom: 40%;
            list-style-type: none;

            li {
            	padding-top: 10px;
            }
		}

		.btn {
			white-space: normal;
			display: block;
			margin: 0 auto;
		}

		.social {
			padding: 0;    
		    margin-top: 40%;
		    text-align: center;

		    a {
		    	margin-right: 15px;
		    }
		}
	}

	.content-container {
		z-index: 0;
		padding: 0;

		.mission {
			padding: 4% 4% 6%;
		}

		.mission-item {
			margin-top: 30px;
			h1 {
				.h1;
				margin-top: 0;
			}
			p {
				.black
			}
			.mission-icon {
				margin: 0 auto;
			}
		}

		.obligations {
			background: @violet;
			padding: 4% 10% 6% 10%;

			h1 {
				.h1;
				color: white;
			}

			.obligations-item {
				margin-top: 25px;			

				.obligations-icon {
					margin-bottom: 20px;
				}
				.icon-coop {
					margin-top: 15px;
				}
				.icon-active {
					margin-bottom: 15px;
				}

				h2 {
					.h2;
				}
				p {
					.white;
				}
			}
		}

		.cooperation {
			padding: 4% 10% 5%;
			h1 {
				.h1;
				margin-bottom: 25px;
			}
			p {
				.black;
				margin-bottom: 80px;
			}
		}

		.benefits {
			padding: 4% 10% 5%;
			background: #3ab44a;			
			h1 {
				.h1;
				color: white;
				margin-bottom: 70px;
			}
			p {
				.white;
				margin-bottom: 30px;
			}

			.benefits-row {
				padding: 0;
			}

			.benefits-item {
				margin-top: 25px;
				display: inline-block;

				.benefits-icon-container {
					padding-left: 0;

					.benefits-icon {
						margin-bottom: 20px;
					}
				}				
				
				h2 {
					.h2;
					color: white;
				}
				p {
					.white;
				}
				
			}
		}

		.membership {
			padding: 4% 10% 15%;
			background: #f0f0f0;

			.second-tab {
				display: none;
			}

			.row {
				
				form {
					padding-left: 0;
				}
			}

			p {
				.black;
				margin-bottom: 60px;

			}
			
			.membership-tabs {
				display: block;
				overflow: hidden;
			    margin-bottom: 50px;
			    padding: 0;
			    
			    li {
			    	display: block;
			    	float: left;
				    padding-bottom: 10px;				    
				    margin-right: 50px;
				    margin-top: 10px;
				    border-bottom: 2px solid transparent;
				    .h1;
				    color: @violet;
				    // .transition;
				    &:hover {
						border-bottom: 2px solid @violet;
				    }
				    &:active {
				    	border-bottom: 2px solid @violet;
				    }
				    a {
				    	text-decoration: none;	
				    	color: @violet;				    	
				    	// &.hover {
				    	// 	text-decoration: none;
				    	// 	border-bottom: 2px solid @violet;
				    	// }
				    }				    
			    }
			}

			.form-part {
				input {
					border: 2px solid #e0e0e0;
				    padding: 10px 5px;
				    width: 100%;
				    margin-top: 20px;
				}
				.more-info {
					border: 2px solid #e0e0e0;
				    padding: 10px 5px;
				    width: 100%;
				    margin-top: 20px;
					height: 173px;
    				resize: none;
				}
				.chose-btn {
					border: none;
				}
				.btn {
					display: block;
				    margin: 0 auto;
				    width: 100%;
				    margin-top: 20px;
				}
			}

			.callback {
				background: #e3e3e3;
				margin-top: 20px;
				padding-bottom: 20%;
				h1 {
					.h1;
					margin-top: 15px;
					font-size: 19px;
				}
				span {
					font-size: @font-size + 8;
				}
				p {
					.black;
					margin-bottom: 10px;
				}
			}

		}

		.partners {
			margin-bottom: 30px;
			padding: 0 10%;
			h1 {
				.h1;
			}
		}

		.footer {
			padding: 20px 0 10px 40px;
			p {
				.white;
			}
			background: #484848;
		}
	}
}
.top-menu-fixed {
	background: #f0f0f0;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 30;
	.top-menu-fixed-wrapper {
		padding: 10px 0;
		margin: 0 auto;
    	width: 250px;    
    	height: 60px;
	
		.logo-link {
			display: block;
		    float: left;
		    margin-right: 10px;
		    .logo {
		    	height: 40px;
	   			width: 100px;
		    }
		}
		.btn-wrapper {
			display: none;
    		float: left;
    		margin-right: 10px;
		}
		.btn-group {
			display: block;
    		float: left;
    		margin-right: 10px;
		}
		#memb-ship {
			.btn;
			min-width: 90px;
		}
		.social {
			padding-top: 7px;
			display: block;
	    	float: left;
		}
	}
}
@media screen and (max-width: 700px) {
	#header-wrapper > div.header-container > p {
		font-size: 20px;
	}
	.membership {
		.row {
			display: block;
			form {
				width: 100%;
			}
			.callback {
				width: 100%;
				text-align: center;
			}
		}
	}			
}
@media screen and (max-width: 600px) {
	.top-menu-fixed {
		display: block;
	}
	.content.sidebar-menu {
		display: none;
	}
	.content-container {
		width: 100%;
	}
	#header-wrapper > div.header-container > p {
		font-size: 14px;
	}
	#main > div.content.col-md-12.col-sm-12.col-xs-12 > #side-menu {
		display: none !important;
	}
	#header-wrapper > div.header-menu.col-md-12.col-sm-12.col-xs-12 {
		display: none;
	}
	#about > div > div.col-md-2.col-sm-2.col-xs-2 {
		width: 100%;
    	margin-bottom: 20px;
	}
	#header-wrapper > div.header-container {
		margin: 0 auto;
	    width: 80%;
	    text-align: center;
	    margin-top: 75px;
	}	
	#header-wrapper {
		min-height: 520px;
	}
}


