

.presentation {
	position:relative;
	background: @ltGreen;
	color: white;
	padding: 40px 0;
	&:before{
		display:block;
		content:" ";
		position: absolute;
		width:100%;
		height:40px;
		top: -20px;
		border-radius: 100%;
		background: white;
		z-index: 1;
	}
	&:after{
		display:block;
		content:" ";
		position: absolute;
		width:100%;
		height:40px;
		bottom: -20px;
		border-radius: 100%;
		background: white;	
		z-index: 1;
	}

	.icon-der1 {
		border-radius: 100%;
		background: url(../../images/content/der.png) center center;
		height: 150px;
		width: 150px;
		background-size: cover;
		margin: 20px auto;
	}

	.icon-der1 + span {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: @ltLightGreen;
		margin-bottom: 20px;
	}

	.margin-text {
		
		margin-top: 50px;
		margin-bottom: 30px;


	}

	.col-md-9{
		position: relative;

	 	div.icon-topSign {

			position: absolute;
			top: 20px;
			left: -20px;
		}

		div.icon-sign {
			margin: auto;
		}

		span {
			display: block;
		}

		span.bold {
			font-weight: bold;
		}

		span.light {
			color: @ltLightGreen;
		}

		a {
			width: 240px;
  			margin-top: 25px;

		}
	}
}