	.faded {
	    opacity: 1;
	    transition: all .4s 0s linear;
	}
	
	.faded {
	    transition: all .4s 0s linear;
	}
	
	.faded.ng-hide {
	    opacity: 0;
	}
	
	.ng-enter,
	.ng-leave {
	    -webkit-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	    -moz-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	    -ms-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	    -o-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	    transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	    position: relative;
	    display: block;
	}
	
	.ng-enter.ng-enter-active,
	.ng-leave {
	    opacity: 1;
	}
	
	.ng-leave.ng-leave-active,
	.ng-enter {
	    opacity: 0;
	}
	
	.tourList {
	    margin-top: 20px;
	    overflow: hidden;
	    text-align: center;
	    // & > div {
	    // 	min-width: 250px;
	    // }
	    div.tour {
	        border-radius: 3px;
	        padding:0;
	        box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
	        text-align: left;
	        min-height: 350px;
	        max-height: 350px;
	        margin-bottom: 20px;
	        img {
	            border-radius: 3px 3px 0 0;
	            width: 100%;
	        }
	        > a.img-link{
	        	padding:0;
	        	display:block;
	        	background:none;
	        }
	        > div 
	        p {
	            color: @ltGrey - 40%;
	        }
	        & > div:nth-of-type(1) {
	            background: @ltLightGrey;
	            border-bottom: 1px solid #ccc;
	            padding: 7px;
	            height:136px;
	            overflow:hidden;
	            max-height: 136px;
	            > a {
					color: @ltGreen;
					background: @ltLightGrey;
					font-size: 16px;
					margin-bottom: 10px;
					display: block;
					width: 100%;
					font-weight: bold;
					&:hover {
						text-decoration: underline;
					}
				}
	        }
	        & > div:nth-of-type(2) {
	            background: #E5E5E5;
	            padding: 7px;
	            ul {
	                padding: 0;
	                margin: 0;
	                overflow: hidden;
	                color: @ltGrey - 40%;
	                span {
	                    float: left;
	                    padding: 5px;
	                    color: @ltGrey - 40%;
	                }
	                li {
	                    list-style: none;
	                    display: block;
	                    float: left;
	                    margin-left: 5px;
	                    margin-top: 3px;
	                    color: @ltGrey - 40%;
	                }
	            }
	        }
	    }
	    .borded.revers {
	        width: auto;
	        margin: 20px auto;
	        overflow: hidden;
	        clear: both;
	    }
	}
