.productPage {
		
	.icon{
		display:inline-block;
	}
}


	.onlineService {
		padding-top: 5px;
	}

	.productPage {
		
		.icon{
			display:inline-block;
		}

		h1 {
			font-size: 30px;
			color: @ltGreen;
			padding-left: 15px;
			margin-top: 20px;

		}

		& > div {
			margin-top: 20px;
		}

		table {
			width: 100%;
			tr td:nth-of-type(2n){
				color:@ltGrey - 40%;

			}

			div {
				float: left;
			}
			td {
				padding: 4px;
			}
		}

		& > img {
			width: 100%;
			margin: 20px 0;
			display: block;
		}

		ul {
			padding: 0;
			margin: 0;

			li {
				list-style-position: inside;

			}

			h4 {
				margin: 15px 0 10px;
			}
		}

		span.price {
			display: block;
			width: 100%;
			text-align: center;
			background: #FFFAD1;
			height: 50px;
			line-height: 50px;
		}

		.grey {
			background: @ltLightGrey;
			padding-bottom: 10px;
		}

		.ita {
			font-style: italic;
			margin-top: 20px;

			span {
				font-weight: bold;
			}
		}
	}
