.chooseTour {
	margin: 20px 0;
	border-radius: 3px;
	background-color: @ltLightGrey;
	border:1px solid #ccc;
	h4 {
		text-transform: uppercase;
		text-align: center;
		background-color: #E5E5E5;
		color: @ltGrey - 60%;
		padding: 10px;
		border-bottom:1px solid #ccc;
		margin-top: 0;
		font-weight: bold;
 		font-size: 16px;
	}
	form {
		padding: 10px 20px;
		label {
			color: @ltGrey - 60%;
		}
		ul.type {
			padding: 0;
				& li {
					cursor: pointer;
					&.active{
						label{
							color: @ltGreen;	
						}
					}
					& .icon {
						display: inline-block;
						vertical-align: middle;
						margin-right: 15px;
					}
					&:hover{
						color: @ltGreen;
					}
			}
		}
		ul.type input[type="checkbox"] {
			visibility: hidden;
		}
		li {
			list-style: none;
		}
		input[type="number"] {
			display: inline-block;
			text-align: center;
			color: @ltGrey - 60%;
			width: 46%;
		}
		input[type="submit"] {
			display: inline-block;
			transition: all .3s;
			width: auto;
			padding: 10px 20px;
			border-radius: 50px;
			border: 2px solid @ltGreen;
			margin: 5px 30px;
			color: @ltGreen;
			font-weight: bold;
			background: rgba(255,255,255,.15);
			outline: none;
			&:hover {
				background:@ltGreen;
				color:white;
				border-color:white;
				
			}
		}

		input[type="reset"] {
			color: @ltGrey;
			width: 100%;
			text-align: center;
			border:none;
			outline: none;
			box-shadow: none;
			margin: 20px 0 25px;
			background-color: transparent;
			font-size: 16px
		}

		input[type="checkbox"]:checked + div {
			-webkit-filter: grayscale(0%);
			-moz-filter: grayscale(0%);
			-ms-filter: grayscale(0%);
			-o-filter: grayscale(0%);
			filter: grayscale(0%);
		}


		 ul.land { 
		 		padding: 0;
					label {
						display: inline-block; 
						position: relative; 
						vertical-align: middle;
					}
				input[type="checkbox"] {
					visibility: hidden;
					display:inline-block;
					vertical-align: middle;
				}
				input[type="checkbox"] + i {
					display:inline-block;
					width:32px;
					height: 32px;
					margin-right: 15px; 
					background: url(../../images/content/switch.png) no-repeat;
					cursor: pointer; 
					vertical-align: middle;
				}
				input[type="checkbox"]:checked + i {	
					 background: url(../../images/content/switchOn.png) no-repeat; 
				}

		 }

		
	}
}